<template>
    <div>
        <label>¿A quien se realiza el recibo de pago de póliza?:</label>
        <div>
            <md-radio v-model="propietario" :value="false"
                >Propietario</md-radio>
            <md-radio v-model="arrendatario" :value="false"
                >Arrendatario</md-radio>
            <md-radio v-model="prop50arr50" :value="false"
                >50% Propietario y 50% Arrendatario</md-radio>

            <md-field>       
                <label>*Importe mensual de renta</label>
                <md-input v-model="importeMensual"></md-input>
            </md-field>
            <md-field>       
                <label>*Depósito en garantía</label>
                <md-input v-model="depGarantia"></md-input>
            </md-field>
            <md-field>       
                <label>Cuota de mantenimiento</label>
                <md-input v-model="cuotaInt"></md-input>
            </md-field>

            <md-checkbox v-model="incluidaRenta">¿Incluida en la renta?</md-checkbox>
            <md-checkbox v-model="necesitaPagares">Necesita pagarés</md-checkbox>
            <md-checkbox v-model="necesitaFiador">¿Necesita fiador?</md-checkbox>
            <md-checkbox v-model="inmuebleGarantia">¿Necesita inmueble en garantía?</md-checkbox>
            <md-checkbox v-model="cartaEntrega">¿Necesita carta Entrega? </md-checkbox>

            <md-field>
                <md-datepicker v-model="selectedInicio" md-immediately >
                  <label>Vigencia de la Póliza del:</label>
                </md-datepicker>
                <md-datepicker v-model="selectedFin" md-immediately >
                  <label>Al:</label>
                </md-datepicker>
            </md-field>

            <md-field>
                <label for="tipoInmueble">Tipo de inmueble</label>
                <md-select v-model="tipoInmueble" name="tipoInmueble">
                <md-option
                    v-for="tipo in tinmueble"
                    :key="tipo.tipoInmobiliarioId"
                    :value="tipo.tipoInmobiliarioDesc"
                    >{{ tipo.tipoInmobiliarioDesc }}</md-option
                >
                </md-select>
            </md-field>
            <md-field>
                <label>Observaciones</label>
                <md-input v-model="obsTipoInmueble"></md-input>
            </md-field>

            <label>Datos del Arrendatario (Son para contactarlo)</label>
            
            <md-field>
                <md-select v-model="tipoRegimen" name="regimen">
                <md-option value="">Seleccione Tipo de Régimen</md-option>
                <md-option value="Moral">Moral</md-option>
                <md-option value="Fisica">Fisica</md-option>
                </md-select>
            </md-field>

            <md-field>       
                <label>*Nombre(s)</label>
                <md-input v-model="nombre"></md-input>
            </md-field>

            <md-field>       
                <label>*Apellido Paterno</label>
                <md-input v-model="apePaterno"></md-input>
            </md-field>

            <md-field>       
                <label>Apellido Materno</label>
                <md-input v-model="apeMaterno"></md-input>
            </md-field>
            <md-field>       
                <label>*Teléfono</label>
                <md-input v-model="telefono"></md-input>
            </md-field>
            <md-field>       
                <label>Email</label>
                <md-input v-model="email"></md-input>
            </md-field>

            <label>¿Cuándo le gustaría que firmaramos?</label>
            <md-field>
                <md-datepicker v-model="fechaFirma" md-immediately >
                  <label>Fecha Firma</label>
                </md-datepicker>
                <md-datepicker v-model="horaFirma" md-immediately >
                  <label>Hora firma</label>
                </md-datepicker>
            </md-field>
            <md-field>       
                <label>Lugar para firmar</label>
                <md-input v-model="lugarFirmar"></md-input>
            </md-field>
            <md-field>
            <md-datepicker v-model="fechaFirmar" md-immediately >
                  <label>Fecha de solicitud</label>
            </md-datepicker>
            </md-field>
            <label>NOTA: Esta fecha y hora son tentativas hasta que pase la investigación</label>
            <label>Sección para datos de escrituras</label>
            <md-field>       
                <label>Número RPP constitutiva</label>
                <md-input v-model="numRPP"></md-input>
            </md-field>
            <md-field>       
                <label>Número de Escritura</label>
                <md-input v-model="numEscritura"></md-input>
            </md-field>
            <md-field>       
                <label>Licenciado</label>
                <md-input v-model="licenciado"></md-input>
            </md-field>
            <md-field>       
                <label>Número de Notaria</label>
                <md-input v-model="numNotaria"></md-input>
            </md-field>
            <md-field>       
                <md-datepicker v-model="fechaRegistro" md-immediately >
                  <label>Fecha de Registro Constitutiva RPP</label>
                </md-datepicker>
            </md-field>
            <md-field>       
                <label>Número de Escritura del Poder</label>
                <md-input v-model="numEscrituraPoder"></md-input>
            </md-field>
            <md-field>       
                <label>Titular de la notaria que emite el poder</label>
                <md-input v-model="titularPoder"></md-input>
            </md-field>
            <md-field>       
                <label>Número de la notaria</label>
                <md-input v-model="numNotaria2"></md-input>
            </md-field>
            <md-field>       
                <md-datepicker v-model="fechaEmisionPoder" md-immediately >
                  <label>Fecha en que se emite el Poder</label>
                </md-datepicker>
            </md-field>
            <md-field>       
                <md-datepicker v-model="fechaCOnstitutiva" md-immediately >
                  <label>Fecha Constitutiva</label>
                </md-datepicker>
            </md-field>
        </div>
    </div>
</template>

<script>
import Inmueble from "../../../Servicios/Solicitudes/tipoInmueble.js";

export default {
    data(){
        return{
            propietario:'',
            arrendatario:'',
            prop50arr50:'',
            importeMensual:'',
            depGarantia:'',
            cuotaInt:'',
            incluidaRenta:false,
            necesitaPagares:false,
            necesitaFiador:false,
            inmuebleGarantia:false,
            cartaEntrega:false,
            selectedInicio:null,
            selectedFin:null,
            tipoInmueble:'',
            tinmueble:'',
            obsTipoInmueble:'',
            tipoRegimen:'',
            nombre:'',
            apePaterno:'',
            apeMaterno:'',
            telefono:'',
            email:'',
            fechasFirma:'',
            horaFirma:'',
            lugarFirmar:'',
            fechaFirmar:'',
            numRPP:'',
            numEscritura:'',
            licenciado:'',
            numNotaria:'',
            fechaRegistro:'',
            numEscrituraPoder:'',
            titularPoder:'',
            numNotaria2:'',
            fechaEmisionPoder:'',
            fechaCOnstitutiva:'',
        }
    },
    methods: {
    obtieneTipoInmbueble() {
      Inmueble.TipoInmueble()
      .then((data) => {
        this.tinmueble = data.data;
      });
    },
    },
    created() {
    this.obtieneTipoInmbueble();
  },
}
</script>
