<template>
  <div>
    
      <md-field>
        <md-select v-model="tipoRegimen" name="regimen">
          <md-option value="">Seleccione Tipo de Régimen</md-option>
          <md-option value="Moral">Moral</md-option>
          <md-option value="Fisica">Fisica</md-option>
        </md-select>
      </md-field>

      <md-field>
        <label>*Domicilio actual (calle, No. exterior y/o No. interior)</label>
        <md-input v-model="domicilio"></md-input>
      </md-field>

      <md-field>
        <label>*Colonia</label>
        <md-input v-model="colonia"></md-input>
      </md-field>

      <md-field>
        <label>*Alcaldía o Municipio</label>
        <md-input v-model="municipio"></md-input>
      </md-field>
      <md-field>
        <label>*Código Postal</label>
        <md-input v-model="cp"></md-input>
      </md-field>
      <md-field>
        <label>*Estado</label>
        <md-input v-model="estado"></md-input>
      </md-field>

      <md-field>
        <label>*Nacionalidad</label>
        <md-input v-model="nacionalidad"></md-input>
      </md-field>
      <md-field>
        <label>Teléfono</label>
        <md-input v-model="teléfono"></md-input>
      </md-field>
      <md-field>
        <label>E-mail</label>
        <md-input v-model="mail"></md-input>
      </md-field>
      <md-field>
        <label>Tipo de Identificación</label>
        <md-input v-model="tipIdentificación"></md-input>
      </md-field>
      <md-field>
        <label>Número de Identificación</label>
        <md-input v-model="numIdentificación"></md-input>
      </md-field>

      <label>Para el pago de rentas:</label>
      <div>
        <md-radio v-model="depBancario" :value="false"
          >Depósito y/o transferencia bancaria</md-radio
        >
        <md-radio v-model="domArrendador" :value="false"
          >En el domicilio del arrendador y/o cobro en el inmueble</md-radio
        >
      </div>

      <md-field>
        <label
          >*Domicilio del bien a ser arrendado (Calle, No. Exterior y/o No.
          Interior)</label
        >
        <md-input v-model="numIdentificación"></md-input>
      </md-field>
      <md-field>
        <label>*Colonia</label>
        <md-input v-model="colonia2"></md-input>
      </md-field>
      <md-field>
        <label>*Alcaldía o Municipio</label>
        <md-input v-model="municipio2"></md-input>
      </md-field>
      <md-field>
        <label>*Código Postal</label>
        <md-input v-model="cp2"></md-input>
      </md-field>

      <md-field>
        <label for="estadosRep">Estado</label>
        <md-select v-model="selEstados" name="estadosRep">
          <md-option
            v-for="estrep in estadosRep"
            :key="estrep.estadosId"
            :value="estrep.estadoNombre"
            >{{ estrep.estadoNombre }}</md-option
          >
        </md-select>
      </md-field>

      <div>
        <md-checkbox v-model="telInmueble">Tiene teléfono el inmueble</md-checkbox>
      </div>

      <label>Arrendadores Adicionales (Opcional)</label>

      <md-field>
        <label>*Nombre (s)</label>
        <md-input v-model="NombreAAdicional"></md-input>
      </md-field>
      <md-field>
        <label>*Apellido Paterno</label>
        <md-input v-model="apellidoPAAdicional"></md-input>
      </md-field>
      <md-field>
        <label>Apellido Materno</label>
        <md-input v-model="apellidoMAAdicional"></md-input>
      </md-field>
      <md-field>
        <label>Tipo de Identificación</label>
        <md-input v-model="tipoIdAAdicional"></md-input>
      </md-field>
      <md-field>
        <label>Numero de Identificación</label>
        <md-input v-model="numeroIdAAdicional"></md-input>
      </md-field>

      <label>Arrendadores 2</label>

      <md-field>
        <label>*Nombre (s)</label>
        <md-input v-model="NombreAAdicional2"></md-input>
      </md-field>
      <md-field>
        <label>*Apellido Paterno</label>
        <md-input v-model="apellidoPAAdicional2"></md-input>
      </md-field>
      <md-field>
        <label>Apellido Materno</label>
        <md-input v-model="apellidoMAAdicional2"></md-input>
      </md-field>
      <md-field>
        <label>Tipo de Identificación</label>
        <md-input v-model="tipoIdAAdicional2"></md-input>
      </md-field>
      <md-field>
        <label>Numero de Identificación</label>
        <md-input v-model="numeroIdAAdicional2"></md-input>
      </md-field>
    
  </div>
</template>

<script>
import Estados from "../../../Servicios/Solicitudes/estados.js";
export default {
  name: "DatosArrendador",
  data() {
    return {
      tipoRegimen: "",
      domicilio: "",
      colonia: "",
      municipio: "",
      cp: "",
      colonia2: "",
      municipio2: "",
      cp2: "",
      estado: "",
      nacionalidad: "",
      teléfono: "",
      mail: "",
      tipIdentificación: "",
      numIdentificación: "",
      depBancario: null,
      domArrendador: null,
      selEstados: "",
      estadosRep: null,
      telInmueble: null,
      NombreAAdicional: "",
      apellidoPAAdicional: "",
      apellidoMAAdicional: "",
      tipoIdAAdicional: "",
      numeroIdAAdicional: "",
      NombreAAdicional2: "",
      apellidoPAAdicional2: "",
      apellidoMAAdicional2: "",
      tipoIdAAdicional2: "",
      numeroIdAAdicional2: "",
    };
  },
  methods: {
    obtenerestados() {
      Estados.getEstados().then(data => {
          this.estadosRep = data.data;
      });
    
    },
  },
  created() {
    this.obtenerestados();
  },
};
</script>
