<template>
   <div>
        <div>
            <md-button class="md-primary"><md-icon>search</md-icon></md-button>
            <md-field>       
                <label>Representante</label>
                <md-input v-model="representante" disabled=true></md-input>
            </md-field>
            <md-field>       
                <label>Representación</label>
                <md-input v-model="representación" disabled=true></md-input>
            </md-field>
        </div>
        <div>
            <md-button class="md-primary"><md-icon>search</md-icon></md-button>
            <md-field>       
                <label>Asesor</label>
                <md-input v-model="asesor" disabled=true></md-input>
            </md-field>
            <md-field>       
                <label>Inmobiliaria</label>
                <md-input v-model="inmobiliaria" disabled=true></md-input>
            </md-field>
        </div>
        <md-field>
            <label>Teléfono</label>
            <md-input v-model="telefono" type="number"></md-input>
        </md-field>
        <md-field>
            <label>Celular</label>
            <md-input v-model="celular" type="number"></md-input>
        </md-field>
        <md-field>       
            <label>E-mail</label>
            <md-input v-model="email"></md-input>
        </md-field>
        <md-field> 
        <md-checkbox v-model="propietario">Es propietario: </md-checkbox>
        <md-checkbox v-model="administradorInmuebles">Es administrador de inmuebles: </md-checkbox>
        <md-checkbox v-model="renovacion">Es renovación: </md-checkbox>
        </md-field> 
        <md-button class="md-primary"><label>Enviar<md-icon>done</md-icon></label></md-button>
   </div>

</template>