<template>
  <div>
    <md-table v-model="dataTable" class="md-table-global-sales" v-if="dataTable.length > 0">
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell>{{ item.nombre }}</md-table-cell>
        <md-table-cell>{{ item.cantidadPoliza }}</md-table-cell>
        <md-table-cell v-if="isVisible">{{ item.costoVenta }}</md-table-cell>
      </md-table-row>
    </md-table>
    <h5 v-else class="title text-center">Sin registros</h5>
  </div>
</template>

<script>
export default {
  name: "global-sales-table",
  props: {
    isVisible:{
      type: Boolean,
      default: true      
    },
    dataTable:{
      default:[]
    }
  },
  data() {
    return {
      selected: [],
    };
  },
};
</script>
<style scoped>

</style>