<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-66 md-xsmall-size-80 mx-auto">
      <simple-wizard>
        <template slot="header">
          <h3 class="title">Solicitud de Otorgamiento</h3>
          <h5 class="category">
            This information will let us know more about you.
          </h5>
        </template>

        <wizard-tab >
          <template slot="label"> DATOS DEL ARRENDADOR </template>
          <DatosArrendador/>
        </wizard-tab>

        <wizard-tab >
          <template slot="label"> DATOS DEL ARRENDAMIENTO </template>
          <DatosArrendamiento/>
        </wizard-tab>

        <wizard-tab >
          <template slot="label"> DATOS DEL PROFESIONAL INMOBILIARIO </template>
          <DatosProfecionalInmobiliario/>
        </wizard-tab>
      </simple-wizard>
    </div>
  </div>
</template>
<script>
import DatosArrendador from "./Tabs/DatosArrendador.vue";
import DatosArrendamiento from "./Tabs/DatosArrendamiento.vue";
import DatosProfecionalInmobiliario from "./Tabs/DatosProfecionalInmobiliario.vue";
import Swal from "sweetalert2";
import { SimpleWizard, WizardTab } from "@/components";

export default {
  data() {
    return {
      wizardModel: {},
    };
  },
  components: {
    DatosArrendador,
    DatosArrendamiento,
    DatosProfecionalInmobiliario,
    SimpleWizard,
    WizardTab,
  },
  methods: {
    validateStep(ref) {
      return this.$refs[ref].validate();
    },
    onStepValidated(validated, model) {
      this.wizardModel = { ...this.wizardModel, ...model };
    },
    wizardComplete() {
      Swal.fire({
        title: "Good job!",
        text: "You clicked the finish button!",
        type: "success",
        confirmButtonClass: "md-button md-success",
        buttonsStyling: false,
      });
    },
  },
};
</script>




