<template>
  <div class="md-layout-item md-large-size-100">
    <md-card>
      <md-card-header class="md-card-header-text md-card-header-primary">
        <div class="card-text">
          <h4 class="title">Solución</h4>
        </div>
      </md-card-header>

      <md-card-content>
        <h4>Encabezado</h4>
        <div class="md-layout">
          <div class="md-layout-item md-size-50">
            <md-field>
              <label>Poliza Id</label>
              <md-input v-model="layout1" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-50">
            <md-field>
              <label>Fecha de Creación</label>
              <md-input v-model="layout2" type="text"></md-input>
            </md-field>
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-33">
            <md-field>
              <label>Fecha de fin de la póliza</label>
              <md-input v-model="layout1" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-33">
            <md-field>
              <label>Fecha de inicio de póliza</label>
              <md-input v-model="layout2" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-33">
            <div class="md-layout">
              <label class="md-layout-item md-size-15 md-form-label">
                *Tipo de Póliza:
              </label>
              <div class="md-layout-item md-inline-checkboxes">
                <md-checkbox v-model="checkbox3">Tradicional</md-checkbox>
                <md-checkbox v-model="checkbox4">Plus</md-checkbox>
              </div>
            </div>
          </div>
        </div>
        <h4>Arrendador</h4>
        <div class="md-layout">
          <div class="md-layout-item md-size-50">
            <md-field>
              <label>Poliza Id</label>
              <md-input v-model="layout1" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-50">
            <md-field>
              <label>Fecha de Creación</label>
              <md-input v-model="layout2" type="text"></md-input>
            </md-field>
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-33">
            <md-field>
              <label>Fecha de fin de la póliza</label>
              <md-input v-model="layout1" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-33">
            <md-field>
              <label>Fecha de inicio de póliza</label>
              <md-input v-model="layout2" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-33">
            <div class="md-layout">
              <label class="md-layout-item md-size-15 md-form-label">
                *Tipo de Póliza:
              </label>
              <div class="md-layout-item md-inline-checkboxes">
                <md-checkbox v-model="checkbox3">Tradicional</md-checkbox>
                <md-checkbox v-model="checkbox4">Plus</md-checkbox>
              </div>
            </div>
          </div>
        </div>
        <h4>Dirección del inmueble</h4>
        <div class="md-layout">
          <div class="md-layout-item md-size-50">
            <md-field>
              <label>Poliza Id</label>
              <md-input v-model="layout1" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-50">
            <md-field>
              <label>Fecha de Creación</label>
              <md-input v-model="layout2" type="text"></md-input>
            </md-field>
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-33">
            <md-field>
              <label>Fecha de fin de la póliza</label>
              <md-input v-model="layout1" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-33">
            <md-field>
              <label>Fecha de inicio de póliza</label>
              <md-input v-model="layout2" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-33">
            <div class="md-layout">
              <label class="md-layout-item md-size-15 md-form-label">
                *Tipo de Póliza:
              </label>
              <div class="md-layout-item md-inline-checkboxes">
                <md-checkbox v-model="checkbox3">Tradicional</md-checkbox>
                <md-checkbox v-model="checkbox4">Plus</md-checkbox>
              </div>
            </div>
          </div>
        </div>
        <h4>Datos del Arrendatario</h4>
        <div class="md-layout">
          <div class="md-layout-item md-size-50">
            <md-field>
              <label>Poliza Id</label>
              <md-input v-model="layout1" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-50">
            <md-field>
              <label>Fecha de Creación</label>
              <md-input v-model="layout2" type="text"></md-input>
            </md-field>
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-33">
            <md-field>
              <label>Fecha de fin de la póliza</label>
              <md-input v-model="layout1" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-33">
            <md-field>
              <label>Fecha de inicio de póliza</label>
              <md-input v-model="layout2" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-33">
            <div class="md-layout">
              <label class="md-layout-item md-size-15 md-form-label">
                *Tipo de Póliza:
              </label>
              <div class="md-layout-item md-inline-checkboxes">
                <md-checkbox v-model="checkbox3">Tradicional</md-checkbox>
                <md-checkbox v-model="checkbox4">Plus</md-checkbox>
              </div>
            </div>
          </div>
        </div>
        <h4>Datos del fiador</h4>
        <div class="md-layout">
          <div class="md-layout-item md-size-50">
            <md-field>
              <label>Poliza Id</label>
              <md-input v-model="layout1" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-50">
            <md-field>
              <label>Fecha de Creación</label>
              <md-input v-model="layout2" type="text"></md-input>
            </md-field>
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-33">
            <md-field>
              <label>Fecha de fin de la póliza</label>
              <md-input v-model="layout1" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-33">
            <md-field>
              <label>Fecha de inicio de póliza</label>
              <md-input v-model="layout2" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-33">
            <div class="md-layout">
              <label class="md-layout-item md-size-15 md-form-label">
                *Tipo de Póliza:
              </label>
              <div class="md-layout-item md-inline-checkboxes">
                <md-checkbox v-model="checkbox3">Tradicional</md-checkbox>
                <md-checkbox v-model="checkbox4">Plus</md-checkbox>
              </div>
            </div>
          </div>
        </div>
        <h4>Datos de la solución</h4>
        <div class="md-layout">
          <div class="md-layout-item md-size-50">
            <md-field>
              <label>Poliza Id</label>
              <md-input v-model="layout1" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-50">
            <md-field>
              <label>Fecha de Creación</label>
              <md-input v-model="layout2" type="text"></md-input>
            </md-field>
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-33">
            <md-field>
              <label>Fecha de fin de la póliza</label>
              <md-input v-model="layout1" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-33">
            <md-field>
              <label>Fecha de inicio de póliza</label>
              <md-input v-model="layout2" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-33">
            <div class="md-layout">
              <label class="md-layout-item md-size-15 md-form-label">
                *Tipo de Póliza:
              </label>
              <div class="md-layout-item md-inline-checkboxes">
                <md-checkbox v-model="checkbox3">Tradicional</md-checkbox>
                <md-checkbox v-model="checkbox4">Plus</md-checkbox>
              </div>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>