<template>
  <div class="md-layout">
    <div class="md-layout-item md-large-size-100">
      <tabs :tab-name="['Detalle', 'Seguimiento','Estatus']" color-button="primary">
        <h4 class="title" slot="header-title">
          Opciones de la solución: {{ solucionId }}
        </h4>
        <template slot="tab-pane-1" class="md-large-size-100">
          <createUpdate ></createUpdate>
        </template>
        <template slot="tab-pane-2">
          <seguimiento></seguimiento>
        </template>
        <template slot="tab-pane-3">
          <estatus></estatus>
        </template>
      </tabs>
    </div>
  </div>
</template>
<script>
import { Tabs } from "@/components";
import createUpdate from "./createupdate.vue";
import seguimiento from "./seguimiento.vue";
import estatus from "./estatus.vue";
import store from "../../Store/index";
export default {
  name: "tabspoliza",
  computed: {
    General() {
      return store.state.General;
    },
  },
  components: {
    Tabs,
    createUpdate,
    seguimiento,
    estatus,
  },
  data() {
    return {
      solucionId: 0,
    };
  },
  created() {
    this.solucionId = this.General.solucionId;
  },
};
</script>