<template>
  <div class="md-layout text-center">
    <div
      class="
        md-layout-item
        md-size-33
        md-medium-size-50
        md-small-size-70
        md-xsmall-size-100
      "
    >
      <login-card header-color="primary">
        <h4 slot="title" class="title">Iniciar sesión</h4>
        <md-field class="md-form-group" slot="inputs">
          <md-icon>email</md-icon>
          <label>Email...</label>
          <md-input v-model="email" type="email"></md-input>
        </md-field>
        <md-field class="md-form-group" slot="inputs">
          <md-icon>lock_outline</md-icon>
          <label>Contraseña...</label>
          <md-input
            v-model="password"
            type="password"
            v-on:keyup.enter="iniciar()"
          ></md-input>
        </md-field>
        <md-button
          slot="footer"
          class="md-simple md-primary md-lg"
          @click="iniciar()"
        >
          ¡Vamos!
        </md-button>
      </login-card>
    </div>
  </div>
</template>
<script>
import { LoginCard } from "@/components";
import servLogin from "../../../Servicios/Login/login";
import mensaje from "../../../Servicios/ManjeadorErrores/Mensajes";
import store from "../../../Store/index";

export default {
  name: "Login",
  components: {
    LoginCard,
  },
  data() {
    return {
      firstname: null,
      email: null,
      password: null,
      signedIn: true,
    };
  },
  methods: {
    // async defineHeaderAxios() {
    //   await user.getIdToken().then(
    //     (acessToken) => {
    //       axios.defaults.headers.common["Authorization"] =
    //         "Bearer " + acessToken;
    //       store.state.token = "Bearer " + acessToken;
    //       console.log(acessToken);
    //     },
    //     (err) => {
    //       console.log(err);
    //     }
    //   );
    // },
    async iniciar() {
      let isBandera = false;
      if (this.email == null || this.email == undefined) {
        let mensajes = {
          tipo: "danger",
          mensaje: "El E-mail, no puede estar vacío",
          accion: false,
        };
        this.notifyVue(mensajes);
        isBandera = true;
      }
      if (this.password == null || this.password == undefined) {
        let mensajes = {
          tipo: "danger",
          mensaje: "La contraseña, no puede estar vacío",
          accion: false,
        };
        this.notifyVue(mensajes);
        isBandera = true;
      }
      if (isBandera == false) {
        //console.log('entro');
        let usuario = {
          usurioEmail: this.email,
          contraEncrypt: btoa(this.password),
        };

        servLogin
          .login(usuario)
          .then((r) => {
            let method = r.config.method;
            let status = r.status;
            let mens = {};
            mens = mensaje.login(method, status);
            if (mens.accion == true) {
              store.state.usuario = r.data;
              this.$router.push(r.data.dashboard);
            } else {
              this.password = null;
              this.notifyVue(mens);
            }
          })
          .catch((e) => {
            mensaje.Error("Login", e);
            alert("E-mail y/o Contraseña inrrectos");
            this.password = null;
          });
      }
    },
    notifyVue(mensajes) {
      alert(mensajes.mensaje);
      // type: ['', 'info', 'success', 'warning', 'danger'],
      // this.$notify(
      //   {
      //     message: mensajes.mensaje,
      //     icon: 'add_alert',
      //     horizontalAlign: 'right',
      //     verticalAlign: 'top',
      //     type: mensajes.tipo
      //   });
    },
  },
  mounted() {  
  },
  async created(){
    //await this.defineHeaderAxios();
  }
};
</script>

<style></style>
