<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-header class="md-card-header-text md-card-header-primary">
          <div class="card-text">
            <h4 class="title">Filtros</h4>
          </div>
        </md-card-header>

        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-size-50">
              <md-field>
                <label> Fecha Inicio</label>
                <md-input v-model="fechainicio" type="date"></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-50">
              <md-field>
                <label>Fecha Fin</label>
                <md-input v-model="fechafin" type="date"></md-input>
              </md-field>
            </div>
          </div>
        </md-card-content>
        <md-card-actions md-alignment="right">
          <md-button class="md-primary" @click.native="Priorizamos()"
            >Filtrar</md-button
          >
        </md-card-actions>
      </md-card>
    </div>
    <cards
      :Cantidad="this.cantidad.solicitudes"
      txtHeader="Solicitudes"
      txtFooter="Solicitudes recibidas"
    ></cards>
    <cards
      :Cantidad.sync="this.cantidad.polizas"
      txtHeader="Polizas"
      txtFooter="Pólizas generadas"
    ></cards>
    <cards
      :Cantidad.sync="this.cantidad.soluciones"
      txtHeader="Soluciones"
      txtFooter="Soluciones ingresadas"
    ></cards>
    <cards
      :Cantidad.sync="this.cantidad.ventaTotal"
      txtHeader="Cantidad Venta"
      txtFooter="Total de Ingreso"
      :isMoney="true"
    ></cards>
    <cards
      :Cantidad.sync="this.cantidad.regalias"
      txtHeader="Regalias"
      txtFooter="Total de Regalias"
      :isMoney="true"
    ></cards>
    <cards
      :Cantidad.sync="this.cantidad.regaliasPagadasTotal"
      txtHeader="Cantidad cobrada"
      txtFooter="Total de cantidad cobrada de regalias"
      :isMoney="true"
    ></cards>
    <cards
      :Cantidad.sync="this.cantidad.solicitudesCanceladas"
      txtHeader="Solicitudes Canceladas"
      txtFooter="Total de solicitudes Canceladas"
    ></cards>
    <cards
      :Cantidad.sync="this.cantidad.solicitudesCanceladas"
      txtHeader="Pólizas Canceladas"
      txtFooter="Total de Pólizas Cancelada"
    ></cards>
    <cards
      :Cantidad.sync="this.cantidad.ventaTotalPasado"
      txtHeader="Cantidad de venta del 2021 hacía atras"
      txtFooter="Total de venta del año 2021 hacía atras"
      :isMoney="true"
    ></cards>
    <cards
      :Cantidad.sync="this.cantidad.regaliasPasado"
      txtHeader="Regalias del año 2021 hacía atras"
      txtFooter="Total de Regalias del año 2021 hacía atras"
      :isMoney="true"
    ></cards>
    <cards
      :Cantidad.sync="this.cantidad.regaliasPagadasTotalPasado"
      txtHeader="Cantidad Cobrada del año 2021 hacía atras"
      txtFooter="Total de cantidad cobrada de regalias del año 2021 hacía atras"
      :isMoney="true"
    ></cards>    
    <cards
      :Cantidad.sync="this.cantidad.deudaRegaliasPagadasTotalPasado"
      txtHeader="Falta por cobrar del año 2021 hacía atras"
      txtFooter="Falta por cobrar el total de regalias del año 2021 hacía atras"
      :isMoney="true"
    ></cards>  
    <!-- <graficas :labels="this.labels" :series="this.series" Title="Solicitudes por semana"></graficas> -->
    <div class="md-layout-item md-size-50">
      <global-sales-card header-color="green">
        <template slot="header">
          <h4 class="title">Ventas por Ejecutiva</h4>
        </template>
        <template slot="content">
          <div class="md-layout">
            <div class="md-layout-item md-size-100">
              <global-sales-table
                :dataTable="dataTableEjecutivo"
              ></global-sales-table>
            </div>
          </div>
        </template>
      </global-sales-card>
    </div>
    <div class="md-layout-item md-size-50">
      <global-sales-card header-color="green">
        <template slot="header">
          <h4 class="title">Ventas por Representacion</h4>
        </template>
        <template slot="content">
          <div class="md-layout">
            <div class="md-layout-item md-size-100">
              <global-sales-table
                :dataTable="dataTableRepresentacion"
              ></global-sales-table>
            </div>
          </div>
        </template>
      </global-sales-card>
    </div>
  </div>
</template>

<script>
import cards from "./cards.vue";
import graficas from "./graficas.vue";
import servdash from "../../Servicios/Dashboard/dashboard";
import mensaje from "../../Servicios/ManjeadorErrores/Mensajes";
import { GlobalSalesCard, GlobalSalesTable } from "@/components";
import store from "../../Store/index";

export default {
  computed: {
    // cantidad(){
    //   return store.state.cantidad;
    // }
    usuariosId() {
      return store.state.usuario.usuariosId;
    },
  },
  components: {
    GlobalSalesCard,
    GlobalSalesTable,
    cards,
    // graficas,
  },

  data() {
    return {
      fechainicio: "",
      fechafin: "",
      dataTableEjecutivo: [],
      dataTableRepresentacion: [],
      cantidad: {},
      labels: [
        "Ja",
        "Fe",
        "Ma",
        "Ap",
        "Mai",
        "Ju",
        "Jul",
        "Au",
        "Se",
        "Oc",
        "No",
        "De",
      ],
      series: [542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895],
    };
  },
  methods: {
    async getadminCantidad() {
      console.log("entro");
      servdash
        .GetCantidadEstatusxUsuario(
          this.fechainicio,
          this.fechafin,
          this.usuariosId
        )
        .then((a) => {
          console.log("Cantidad", a.data);
          this.cantidad = a.data;
        })
        .catch((e) => {
          mensaje.Error("Dashboard-admin-GetCantidadEstatusxUsuario", e);
        });
    },
    async getVentaGlobalEjecutivo() {
      servdash
        .VentaGlobalEjecutivo(this.fechainicio, this.fechafin)
        .then((a) => {
          this.dataTableEjecutivo = a.data;
        })
        .catch((e) => {
          mensaje.Error("Dashboard-admin-VentaGlobalEjecutivo", e);
        });
    },
    async getVentaGlobalRepresentacion() {
      servdash
        .VentaGlobalRepresentacion(this.fechainicio, this.fechafin)
        .then((a) => {
          this.dataTableRepresentacion = a.data;
        })
        .catch((e) => {
          mensaje.Error("Dashboard-admin-VentaGlobalRepresentacion", e);
        });
    },
    SetFechas() {
      var date = new Date(),
        y = date.getFullYear(),
        m = date.getMonth();
      var firstDay = new Date(y, m, 1);
      var lastDay = new Date(y, m + 1, 0);
      this.fechainicio = firstDay.toISOString();
      this.fechafin = lastDay.toISOString();
    },
    Priorizamos() {
      this.getadminCantidad();
      this.getVentaGlobalEjecutivo();
      this.getVentaGlobalRepresentacion();
    },
  },
  mounted() {},
  created() {
    this.SetFechas();
    this.getadminCantidad();
    this.getVentaGlobalEjecutivo();
    this.getVentaGlobalRepresentacion();
  },
  watch: {},
};
</script>
